@model IEnumerable<MyDemo.Models.TicketModel>

@{
    ViewBag.Title = "ViewTickets";
}

<h2>View Tickets</h2>

<p>
    @Html.ActionLink("Create New", "Ticket", "Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TicketId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketSubmitter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketPriority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketCreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketUpdatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketComment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketSubmitter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketPriority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketCreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketUpdatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketComment)
        </td>
        
    </tr>
}

</table>
